
:root {
  --lightgrey: #F6F6F6;
  --yellow: #FFC228;
  --lightblue: #059BF7;
  --orange: #F27405;
  --pink: #FD7CD4;
  --lightpurple: #B1BBFE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}
/*HEADER*/

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--orange);
}

.nav {
  display: grid;
  grid-template-rows: minmax(min-content, 60px);
}

.nav .brand {
  cursor: pointer;
  justify-self: left;
  margin-left: 15px;
  width: 120px;
  height: 80px;
  padding-top: 15px;
}

.nav .content {
  align-content: space-evenly;
  background-color: #000;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

.nav .dropdown {
  background-color: #000;
  display: none;
  text-align: center;
}

.nav .dropdown a {
  color: #fff;
  padding: 20px;
}

.nav .dropdown a:hover {
  background-color: var(--orange);
}

.nav .links {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  place-items: center;
}

.nav .links.nav-items {
  justify-self: right;
  padding-right: 15px;
}

.nav .menu {
  -webkit-user-select: none;
  cursor: pointer;
  display: none;
  justify-self: right;
  margin-right: 15px;
  user-select: none;
  color: #fff;
}

.nav .menu:hover {
  color: var(--orange);
  padding: 15px;
}

/*CONTENT*/
h1{
  background-color: #000;
  color: var(--orange);
  padding: 15px;
}
.cosmology , .evolution , .biology , .ecology , .robotics  {
  display: flex;
  align-items: center;
}
.content-cosmology , .content-evolution ,
.content-biology , .content-robotics , .content-ecology {
  flex-basis: 50%;
  padding: 15px;
  text-align: center;
}

.content-cosmology img , .content-evolution img ,
.content-biology img , .content-robotics img , .content-ecology img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.cosmology {
  background-color: var(--lightblue);
}

.evolution {
  background-color: var(--yellow);
}

.biology {
  background-color: var(--lightpurple);
}

.robotics {
  background-color: var(--orange);
}

.ecology {
  background-color: var(--pink);
}
/*FOOTER*/
footer{
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
}

footer .column {
  flex-basis: 25%;
  padding: 15px;
}

footer .social {
   text-align: center;
}

footer .brand {
  justify-self: left;
  margin-left: 15px;
  width: 150px;
  height: 120px;
  padding-top: 15px;
}

footer .column ul {
  list-style-type: none;
}

/*MEDIAQUERRY*/
@media only screen and (max-width: 768px) {
  .nav .content .links {
      display: none;
  }

  .nav .content .menu {
      display: initial;
  }

  .cosmology , .evolution , .biology , .ecology , .robotics 
   {
    flex-direction: column;
   }

   .content-cosmology img , .content-evolution img ,
   .content-biology img , .content-robotics img , .content-ecology img {
     width: 600px;
   }

  footer {
      flex-direction: column;
      align-items: baseline;
  }

  footer .social {
      text-align: left;
  }
  
}

@media only screen and (max-width: 480px) {
  img {
      max-width: 100%;
  }

  .nav .brand {
      max-width: 50%;
  }

  footer .brand {
      max-width: 50%;
  }

}

